
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* banner section style starts here */

.body{
    font-family: Inter;
}

.banner-section-container{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
}


.banner-section-container-all{
    width: 998px;
    height: 582px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.banner-section-container-all img{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
}
.banner-section-container-all h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}


.banner-section-container-all p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 32px;
}

.banner-section-container-all button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* combined-section-container style starts here  */


.combined-section-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}


.combined-sub-section-container{
    width: 946px;
    height: 1235px;
    margin: 80px 97px;
    /* border: 2px solid red; */
    /* margin-top: 160px; */
}



.second-section-main-container{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 38px;
}

.second-section-container-text{
    width: 852px;
    height: 113px;
    margin: 0px auto;
}

.second-section-container-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

.second-section-container-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}

.second-section-container-part-1{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-section-container-part-1-text{
    width: 477px;
    height: 220px;
    margin-top: 10px;
}

.second-section-container-part-1-text h1{
    margin-top: 10px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: left;
}

.second-section-container-part-1-text p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: left;
}


.second-section-container-part-1-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

}


.second-section-container-part-1-image{
    width: 259.56px;
    height: 217.01px;
}






/* third-section- style starts here  */






.third-section-main-container{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}


.third-section-container{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    gap: 32px;
    background-color: #ffffff;
    margin-bottom: 128px;

}

.third-section-container-image{
    width: 223.2px;
    height: 208.85px;
}

.third-section-container-text{
    width: 477px;
    height: 219px;
}

.third-section-container-text h1{
    margin-top: 0%;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.third-section-container-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.third-section-container-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}





/* fourth section style starts here  */



.fourth-section-main-container{
    width: 946px;
    height: 336px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 32px;

}

.fourth-section-container{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.fourth-section-container-text{
    width: 477px;
    height: 220px;


}

.fourth-section-container-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.fourth-section-container-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.fourth-section-container-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}



/* .video-section-container    style starts here  */

.video-section-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 151px;
}

.video-section-header{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}


.video-section-header h1{
    margin-top: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}


.video-section-header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}

.video-container{
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px 16px 16px 16px;
}

.video-content{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin: 0 auto;
    /* margin-top: 18px; */
}


.video-content iframe{
    border-radius: 16px;
}



/* target-section- style starts here  */



.target-section-container-god-father{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-bottom: 150px;
}


.target-section-container-parent{
    width: 1140px;
    height: 299px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.target-section-header{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.target-section-header h1{
    margin-top: 0;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.target-section-header p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}





.target-section-child-1-image{
    width: 56px;
    height: 56px;
    /* margin-top: 40px; */
    margin-left: 40px;
    margin-top: 40px;
}



.target-section-child-1{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}



.target-section-child-1 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-left: 40px;
}

.target-section-child-1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.target-section-child-1 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
}

.target-section-child-2{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}


.target-section-child-2-image{
    width: 56px;
    height: 56px;
    /* margin-top: 40px; */
    margin-left: 40px;
    margin-top: 40px;
}


.target-section-child-2 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-left: 40px;
}

.target-section-child-2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-left: 40px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.target-section-child-2 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
}



.target-section-child-3{
    width: 364px;
    height: 299px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}


.target-section-child-3-image img{
    width: 56px;
    height: 56px;
    margin-left: 40px;
    margin-top: 40px;
    /* margin-top: 40px; */

}



.target-section-child-3 h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
}

.target-section-child-3 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    /* margin-bottom: 24px; */
    margin-right: 0;
    margin-left: 40px;
    margin-bottom: 24px;
}

.target-section-child-3 a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
}





/* support section style starts here  */

#support-section-main-container{
    margin: 0 auto;
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    background-image: url(../B10A1-Challenge-Begins/assets/313.png);
    background-repeat: no-repeat;
    margin-bottom: 80px;
    /* border: 2px solid black; */
}


.support-section-container{
    margin: 0 auto;
    margin-top: 64px;
    width: 1044px;
    height: 185px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}


.support-section-container h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 16px;

}


.support-section-container p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16 0 24 0;
    margin-top: 16 px;
    padding: 0px; 
}

.support-section-container input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    text-align: left;
    padding-left: 15px;
    z-index: 1111;
    margin-top: 24px;
}

.support-section-container button{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 24px;
}

#support-section-button{
    display: flex;
    justify-content: center;
    gap: 16px;
}





/* footer style starts here  */




.footer-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}




.footer-column p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}


.footer-column-img{
    display: flex;
    gap: 24px;
}
