
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* banner section style starts here */

.body{
    font-family: Inter;
}

.banner-section-container{
    width: 1440px;
    height: 652px;
    border: 2px solid red;
    margin: 0 auto;
    background-image: url(../B10A1-Challenge-Begins/assets/Hero-bg.png);
}


.banner-section-container-all{
    width: 998px;
    height: 582px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.banner-section-container-all img{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
}
.banner-section-container-all h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}


.banner-section-container-all p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 32px;
}

.banner-section-container-all button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}


/* largest-section-container style starts here  */


.largest-section-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    margin-top: 74px;
    border: 2px solid red;
}

.second-section-container{
    width: 946px;
    height: 1233px;
    border: 2px solid black;
    margin: 80px 97px;
}


.second-section-container-text{
    width: 852px;
    height: 113px;
    margin: 0px auto;
    border: 2px solid red;
}

.second-section-container-text h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0;
    text-align: center;
}

.second-section-container-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}

.second-section-container-part-1{
    width: 850px;
    height: 240px;
    border: 2px solid rebeccapurple;
    margin: 0 auto;
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-section-container-part-1-text{
    width: 477px;
    height: 220px;
    margin-top: 10px;
}

.second-section-container-part-1-text h1{
    margin-top: 10px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: left;
}

.second-section-container-part-1-text p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: left;
}


.second-section-container-part-1-text button{
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;

}


.second-section-container-part-1-image{
    width: 259.56px;
    height: 217.01px;
}



/* second section part-2 style starts here  */